/* 게시판 스타일 디자인 */

.container {
    max-width: 800px;
    padding: 0 10px;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin: 20px;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2opx;
}

.board-table th {
    border:1px solid #dddddd;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
}

.board-table td {
    border:1px solid #dddddd;
    padding: 10px;
    text-align: center;
}

.write-button-container {
    /* 버튼 오른쪽 정렬 */
    padding: 10px;
    text-align: right;
}

.write-button {
    background-color: #1e88e5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.write-button:hover {
    background-color: #1b77c7;
    color: white;
}

.click-title {
    cursor: pointer;
    /* font-weight: bold; */
}

.click-title:hover {
    text-decoration: underline;
}

.pagination {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}

.pagination button.active {
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(57, 99, 214);
    color: white;
    font-weight: bold;
}
.pagination button:disabled {
    /* 금지 화살표 포인터 모양으로 변경 */
    cursor: not-allowed;
    /* 투명도 50%추가 */
    opacity: 0.5;
}